.block-quote {
  padding-left: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left-width: 2px;
  border-style: solid;
  border-color: #ddd;
  color: #aaa;
}

.heading-one {
  font-size: 3rem;
  line-height: 4rem;
  margin: 2rem 0;
}

.heading-two {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.numbered-list {
  list-style-type: decimal;
  margin: 1rem 0 1rem 2rem
}

.bulleted-list {
  list-style-type: disc;
  margin: 1rem 0 1rem 2rem
}

.code-block {
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  border: 1px solid var(--c-grey);
  border-radius: 5px;
  width: 100%;
  background: #9ea4b0;
}

.code-line {
  display: block;
  text-shadow: 1px 1px 3px #666;
}

.code-line_wrapper {
  display: block;
  padding: 1rem;
}

.code-block_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-grey);
  padding: 0.5rem;
  background-color: #999faf;
}

.code-block_file {
  overflow: hidden;
  color: var(--c-blue);
  border: 1px solid var(--c-grey);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  line-height: 1.5rem;
  margin-right: 1rem;
}

.code-block_file input {
  background-color: transparent;
  color: var(--c-grey);
  width: 100%;
  margin-left: 1rem;
}

.language-select {
  z-index: 1;
  color: var(--c-blue);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--c-grey);
  border-radius: 5px;
}

.code-block::-webkit-scrollbar-track {
  background-color: #999faf;
}

.code-block::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #999faf;
}

.code-block::-webkit-scrollbar-thumb {
  background-color: var(--c-grey);
}

@media (max-width: 450px) {
  .code-block {
    font-size: 13px;
    line-height: 15px;
  }

  .code-block_file {
    line-height: 1.3rem;
  }
}