.block-quote {
  padding-left: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left-width: 2px;
  border-style: solid;
  border-color: #ddd;
  color: #aaa;
}

.heading-one {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.heading-two {
  font-size: 1.5rem;
  line-height: 2rem;
}

.numbered-list {
  list-style-type: decimal;
  margin: 1rem 0 1rem 2rem
}

.bulleted-list {
  list-style-type: disc;
  margin: 1rem 0 1rem 2rem
}

.code-block {
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  background: rgba(0, 20, 60, .03);
  padding: 5px 13px;
}

.code-line {
  display: block;
  background-color: inherit;
  color: inherit;
}

.language-select {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}