.block-quote {
  padding-left: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left-width: 2px;
  border-style: solid;
  border-color: #ddd;
  color: #aaa;
}

.heading-one {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.heading-two {
  font-size: 1.5rem;
  line-height: 2rem;
}

.numbered-list {
  list-style-type: decimal;
  margin: 1rem 0 1rem 2rem
}

.bulleted-list {
  list-style-type: disc;
  margin: 1rem 0 1rem 2rem
}

.code-block {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--c-code-bg);
  color: var(--c-code-txt);
}

.code-line {
  display: block;
  background-color: inherit;
  color: inherit;
}